button {
    padding: 4px 13px;
    background-color: cornflowerblue;
}

/* #b1{background-color: aqua;
padding: 4px 13px;} */

/* #b1{
    height: fit-content;
    font-size: small;
   } */
form {
    width: 328px;
}

label{
    font-family: var(--font-family-dm_sans);
}

#b2 {
    background-color: rgb(47, 179, 47);
    padding: 4px 13px;
}

#b3 {
    background-color: rgb(228, 112, 18);
    padding: 4px 13px;
}

#b4 {
    background-color: rgb(255, 36, 171);
    padding: 4px 13px;
}

#b5 {
    background-color: rgb(107, 83, 38);
    padding: 4px 13px;
}

output {
    width: 100%;
    min-height: 150px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    border-radius: 5px;
}

output .image {
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
}

output .image img {
    height: 100%;
    width: 100%;
}

output .image span {
    position: absolute;
    top: -4px;
    right: 4px;
    cursor: pointer;
    font-size: 22px;
    color: white;
}

output .image span:hover {
    opacity: 0.8;
}

output .span--hidden {
    visibility: hidden;
}

output .p {
    visibility: visible;
}