@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700|Convergence:400");

:root {
 --font-family-convergence: "Convergence";
 --font-family-dm_sans: "DM Sans";
}

body{
 align-items: center;
}

.display {
 align-items: center;
 background-color: rgba(245, 246, 246, 1);
 border: 1px none;
 display: flex;
 flex-direction: column;
 height: 800px;
 max-width: 360px;
 margin: auto;
}

.button {
 align-items: center;
 background-color: rgba(66, 93, 72, 1);
 border: 5px solid rgba(149, 165, 151, 1);
 border-radius: 15px;
 box-shadow: 0px 4px 4px #00000040;
 display: flex;
 /* gap: 10px; */
 overflow: hidden;
 padding-bottom: 0rem;
 /* width: 600px; */
 text-align: center;
 margin: 0 0 1rem 1rem;
}

.button:active {
 background-color:rgb(88, 79, 116);
 border: 5px solid  #b3b1cb;
 transform: translateY(4px);
}

 .button p{
 color: rgba(245, 246, 246, 1);
 font-weight: bold;
 font-size:xx-large;
 width: fit-content;
 margin: 0.75rem;
 margin-left: 0;
}

#title-block {
 align-items: flex-end;
 background-color: #749C76;
 /* display: flex; */
 height: 82px;
 margin-top: -1px;
 min-width: 360px;
 padding: 19px, 30px;
}

.title {
 text-align: center;
 color: rgba(245, 246, 246, 1);
 font-family: var(--font-family-convergence);
 font-size: 32px;
 font-weight: 400;
 min-height: 38px;
 min-width: 296px;
 text-shadow: 0px 4px 4px #00000040;
}

p {
 width: 328px;
 line-height: normal;
 color: black;
 font-family: var(--font-family-dm_sans);
}

#welcome {
 font-size: x-large;
 font-weight: bold;
 margin-top: 16px;
 min-height: 62px;
 text-align: center;
 width: 360px;
 
}

#text {
 font-size: larger;
}

object{
 height: 42px;
min-width: 42px;
padding: 0.75rem;
position: relative;
}
